.container {
  display: flex;
  justify-content: center;
  width: 100%;

}

.HomePageContainer {
  flex-direction: column;
  background-color: #ff2e2e;
  display: 'flex';
  flex-direction: column;
  justify-content: 'center';
  width: '1%';
  height: '11100px';
}

.threeDLayout {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  width: '50%';
  height: '50vh'
}

.innerContainer {
  display: flex;
  justify-content: center;
  width: 90%;
}